{% extends "base.html" %}
{% block title %} TaskMan {% endblock %}
{% block mainT %} 提出済み課題 {% endblock %}
{% block body %}
<div style="padding:20px 200px 0px 200px;"></div>
<center>
    <h2 style="margin-bottom: 20px;">
        <font color="#589BFE">提出済み科目</font>
    </h2>
    {% if leader != None %}
    {% for lead in leader %}
    {% if lead.is_already == 1 %}
    <div class="btn" href="{% url 'task:our_project_detail' lead.pk %}"
        style="margin-bottom: 20px; background-color: #F4F8FA; border-color:#C3DDEB; text-align:center; width: 800px;">
        <span>{{lead.leader}}</span>
        【{{lead.name}}】

        {% if lead.now_date != None %}
        <span>今の日付 : {{lead.now_date}}</span>
        {% endif %}

        {% if lead.end_date != None %}
        <span>期限 : {{lead.end_date}}</span>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <h2 style="margin-bottom: 20px;">
        <font color="#589BFE">課題がありません</font>
    </h2>
    {% endif %}
</center>






{% endblock %}