{% extends "base.html" %}
{% block title %} TaskMan {% endblock %}
{% block mainT %}  フォロー済み科目 {% endblock %}
{% block body %}
<div style="padding:20px 200px 0px 200px;" class="form-group">
    
    {% if follow != None %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ follow.non_field_errors }}
        {% for field in follow %}
        <div>
            {{ field.subject_name }}
        </div>
        {% endfor %} 
    </form>
    {% else %}
            <h4>科目がありません</h4>
    {% endif %}
</div>





{% endblock %}