{% extends "base.html" %}
{% block title %} TaskMan {% endblock %}
{% block mainT %}  {{ project.0.name }} {% endblock %}
{% block body %}

<h2 class="kensakuTitle">検索結果</h2>

<div id="taskList">
    <div class="cp_ipcheck">
        <ul>
            <li>{{ project.0.name }}　　　　　　　　　　<img src="/static/img/スラッシュ.png" style="height: 25px; width: 25px;">　　　　　　　　　　{{ project.0.leader }}<input type="checkbox" class="option-input02 checkbox" id="checkbox" name="checkbox" value="フォロー"></li>
        </ul>
    </div>
</div>
{% endblock %}