{% extends "base.html" %}
{% block title %} TaskMan {% endblock %}
{% block mainT %} 課題一覧 {% endblock %}
{% block body %}

<div class="text-center" style="margin-top: 40px;">
    <div class="form-group row justify-content-center">
        <button onclick="location.href='/task/'" type="button" class=" btn text-dark w-40 mr-3"
            style="background-color: rgb(195,221,235);">期限内未提出</button>
        <img src="/static/img/スラッシュ.png" style="height: 25px; width: 25px;">　
        <button onclick="location.href='/task/task_top_out/'" type="button" class="btn text-dark w-40"
            style="background-color: rgb(244,248,250)">期限切れ未提出</button>
    </div>


    {% if leader != None %}
    {% for lead in leader %}
    {% if td_data <= lead.end_date %} {% if lead.is_already==0 %} <center>
        {% if near < lead.end_date %} <a class="btn" href="{% url 'task:our_project_detail' lead.pk %}"
            style="margin-bottom: 20px; background-color: #F4F8FA; border-color:#C3DDEB; text-align:center; width: 800px;">
            {% else %}
            <a class="btn" href="{% url 'task:our_project_detail' lead.pk %}"
                style="margin-bottom: 20px; background-color: #F4F8FA; border-color:#FF0000; text-align:center; width: 800px;">
                {% endif %}
                <div>


                    <span>{{lead.leader}}</span>
                    【{{lead.name}}】

                    {% if lead.now_date != None %}
                    <span>今の日付 : {{lead.now_date}}</span>
                    {% endif %}

                    {% if lead.end_date != None %}
                    <span>期限 : {{lead.end_date}}</span>
                    {% endif %}

                </div>
            </a>
            </center>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% else %}
            <h4>課題がありません</h4>
            {% endif %}
            <a class="btn btn-outline-secondary" href="/task/build_project/">課題作成</a>
</div>
{% endblock %}