{% extends "base.html" %}
{% block title %} TaskMan {% endblock %}
{% block mainT %} 更新 {% endblock %}
{% block body %}
<h2 style="color:rgba(255, 44, 44, 0.753);">提出済みに更新しますか？</h2>
<br>

<form action="" method="POST">
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field }}
    {% endfor %}
    {% csrf_token %}
    <br>
    <a href="{% url 'task:our_project_detail' project.0.pk %}" class="btn btn-primary">戻る</a>
    <button type="submit" class="delete-btn btn btn-success">更新</button>
</form>
</div>
{% endblock %}