{% extends "base.html" %}
{% block title %} TaskMan {% endblock %}
{% block mainT %} タスク {% endblock %}
{% block body %}

<div class="text-center" style="margin: 10px;">
    <div class="form-group row justify-content-center">
        <button onclick="location.href='/task/ProjectPage/1/'" type="button" class=" btn text-dark w-40 mr-3" style="background-color: rgb(195,221,235);">期限内未提出</button>
        <img src="/static/img/スラッシュ.png" style="height: 25px; width: 25px;">　
        <button onclick="location.href='/task/ProjectPage/3/'" type="button" class="btn text-dark w-40" style="background-color: rgb(244,248,250)">期限切れ未提出</button>
    </div>
    
    
        {% if leader != None %}
            {% for lead in leader %}
                {% if td_data < lead.end_date %}
                <center>
                    <a class="project_area"  href="{% url 'task:our_project' lead.pk %}">
                        <div >
                            <h4>{{lead.name}}</h4>
                            <p>科目名 : {{lead.leader}}</p>
                            {% if lead.now_date != None %}
                                <p>今の日付 : {{lead.now_date}}</p>
                            {% endif %}
                            {% if lead.start_date != None %}
                                <p>開始日 : {{lead.start_date}}</p>
                            {% endif %}
                            {% if lead.end_date != None %}
                                <p>終了日 : {{lead.end_date}}</p>
                            {% endif %}
                            {% if lead.details != None %}
                                <p>詳細 : {{lead.details}}</p>
                            {% endif %}
                            {% if lead.url != None %}
                                <p>URL : {{lead.url}}</p>
                            {% endif %}
                        </div>
                    </a>
                
                    
                    {% endif %}
            {% endfor %}
        {% else %}
            <h4>課題がありません</h4>
        {% endif %}
        
                </div>  
            </center> 
    
        

         
            {% for lead in leader %}
                {% if td_data > lead.end_date %}
                <center>
                    <a class="project_area" href="{% url 'task:our_project_detail' lead.pk %}">
                        <div>
                            <h4>{{lead.name}}</h4>
                            <p>科目名 : {{lead.leader}}</p>
                            {% if lead.now_date != None %}
                                <p>今の日付 : {{lead.now_date}}</p>
                            {% endif %}
                            {% if lead.start_date != None %}
                                <p>開始日 : {{lead.start_date}}</p>
                            {% endif %}
                            {% if lead.end_date != None %}
                                <p>終了日 : {{lead.end_date}}</p>
                            {% endif %}
                            {% if lead.details != None %}
                                <p>詳細 : {{lead.details}}</p>
                            {% endif %}
                            {% if lead.url != None %}
                                <p>URL : {{lead.url}}</p>
                            {% endif %}
                        </div>
                    </a>
                 {% endif %}
            {% endfor %}
    </div>  
    </center>
    
        
    <a class="btn btn-outline-secondary" href="/task/build_project/">課題作成</a>
</div>
{% endblock %}