{% extends "base.html" %}
{% block title %} TaskApp　{% endblock %}
{% block mainT %} アカウント作成 {% endblock %}
{% block mainL %}User : {{ user.get_username }}{% endblock %}
{% block auth %}{% endblock %}
{% block body %}

<body style="background-color:#F4F8FA;">
    <div style='padding-top: 50px;'>
        <div style="text-align:left; margin-left: 150px; margin-bottom: 30px;">
            <img src="/static/img/新規登録.png" width="30%" height="50%">
        </div>
        <div style="padding:0px 200px 0px 200px;">
            <form action="" method="POST">
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                        <font color="#589BFE">{{ field.label_tag }}</font>
                    </label>
                    {{ field }}
                    <span style="color:red">{{ field.errors }}</span>
                </div>
                {% endfor %}
                {% csrf_token %}
                <div class="authElement">
                    <button type="submit" class="btn"
                        style="background-color: #589BFE; text-align:center; width: 150px">登録</button>
                </div>
            </form>
        </div>
</body>
{% endblock %}