{% extends "base.html" %}
{% block title %} TaskApp {% endblock %}
{% block mainT %} ホーム {% endblock %}
{% block mainL %}UserID : {{ user.get_username }}{% endblock %}
{% block auth %}<a class="nav-link" href="../logout/">ログアウト</a>{% endblock %}

{% block content %}
    <style>
        table {
            table-layout: fixed;
        }

        td > div {
            height: 100px;
            overflow: hidden;
            white-space: nowrap;
        }

    </style>
    <a href="{% url 'taskapp:month_with_schedule' month_previous.year month_previous.month %}">＜</a>
    {{ month_current | date:"Y年m月" }}
    <a href="{% url 'taskapp:month_with_schedule' month_next.year month_next.month %}">＞</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            {% for w in week_names %}
                <th class="border-dark"><div class="text-center">{{ w }}</div></th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for week_day_schedles in month_day_schedules %}
            <tr>
                {% for day, schedules in week_day_schedles.items %}
                    {% if now == day %}
                        <td class="table-success">
                            {% else %}
                        <td>
                    {% endif %}

                <div>
                    {% if month_current.month != day.month %}
                        {{ day | date:"m/d" }}
                    {% else %}
                        {{ day.day }}
                    {% endif %}
                    <br>
                    {% for schedule in schedules %}

                    <a class="btn btn-primary" href="{% url 'task:task_top' %}">{{ schedule.summary }}</a>
                    <br>
                {% endfor %}
                </div>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}